include CHANGES.txt
include LICENSE.txt
include README.txt
include REQUIREMENTS.txt
include install.sh
include updateDictionary.sh
recursive-include bin *
recursive-include data *
recursive-include extract *
recursive-exclude packages
recursive-exclude tests
